body {
    margin: 0;
    background: linear-gradient(rgba(49, 197, 171, 90), rgba(49, 197, 171, 90),rgba(49, 197, 171, 90), rgba(255,255,255,100));
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

.banner {
    width: 85%;
}

.menu-nav {
    text-transform: uppercase;
    padding: 15px;
    background-color: rgba(21, 128, 106, 100);
    margin: -4.5px;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 0 100px;
    font-size: 25px;
}

a:hover {
    text-decoration: underline;
}

.titulo {
    color: rgba(64, 33, 57, 100);
    text-transform: uppercase;
    font-size: 30px;
    margin: 50px;
}

.inicio {
    margin-top: 70px;
}

.explicacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}

.gatos {
    width: 50%;
    margin: auto;
    padding: 100px;
}

.roadmap {
    border-radius: 20px;
    margin-top: 90px;
}

.sessao-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5rem;
    font-size: 20px;
}

.imagem-servicos {
    width: 30%;
}

.conteudo-catsitter {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5rem;
    padding: 60px;
    text-align: center;
}

.imagem-perfil {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 25%;
}

.conteudo-final {
    padding: 40px;
}

.descricao-texto {
    font-size: 20px;
    line-height: 1.5;
}

.tenor-gif-embed {
    height: 170px;
    margin-bottom: 45px;
    margin-top: 30px;
}

.logo {
    width: 20%;
    margin: 20px;
}

